<!--
  Generated template for the BuscareventosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Buscar Eventos</ion-title>
  </ion-navbar>

</ion-header>


<ion-content >
  <ion-list>

    <ion-searchbar #searchbar autocomplete = "on" placeholder="Busca" (ionInput)="searchAction($event)"></ion-searchbar>
 
 
    <ion-item *ngFor="let evento of eventos | async" ng-repeat="filter: busca">
         <!-- <button ion-item color='light' (click) = "marcarEvento(evento)" menuClose ng-repeat=" filter: busca"> -->
             <i>{{ evento.eventoNome }}</i>
             <!-- <p> Local: {{ evento.local }} </p> 
             <p> Preço: R${{ evento.preco }} </p>
        </button> -->
     </ion-item>
 </ion-list>
</ion-content>
